body {
  background-color: #FFF; /*white*/
  color: #000; /*black*/
}

@font-face {
  font-family: 'UbuntuTitling-Bold';
  src: url('../media/fonts/UbuntuTitling-Bold.ttf')
}

@font-face {
  font-family: 'PowFont-Regular';
  src: url('../media/fonts/PowFont-Regular.ttf')
}

#page-wrapper {
  width: 100%;
  margin: 0 auto;
}

#content-wrapper {
  width: 90%;
  margin: 10px auto;
  padding: 35px 0px; /*shifts down only*/
}

#header {
  background-image: url("../media/images/banner.png");
  position: relative;
}

#header h1 {
  font-family: 'PowFont-Regular',verdana,sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: #FFF;
  padding: 10px 70px;
}

#h1 {
  font-family: verdana,sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #000;
}

#h2 {
  font-family: verdana,sans-serif;
  font-weight: 900;
  font-size: 16px;
  color: #000;
}

#strong {
  font-weight: 900;
  font-size: 16px;
}

#footer {
  background-color: #383164;
  height: 60px;
  clear: both; /*moves to bottom*/
  padding: 50px; /*inner*/
  font-family: 'UbuntuTitling-Bold',verdana,sans-serif;
  font-weight: 900;
  font-size: 18px;
  color: #FFF;
}

#main-nav {
  width: 100%; /*take up upper area*/
  float: left; /*set up*/
  background-color: #FF9A33; /*light orange*/
  font-family: 'UbuntuTitling-Bold',verdana,sans-serif;
  font-size: 18px;
  box-shadow: 0px 5px 2px 0px rgba(10, 45, 75, 0.5);
}

#main-nav ul {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left; /*single row*/
  position: relative;
  right:50%; /*set to middle*/
}

#main-nav ul li a {
  text-decoration: none;
  padding: 12px 80px;
  display: block;
  color: #FFF;
}

#main-nav ul li a:hover{
  background-color: #FFF;
  color: #FF9A33;
}

#main {
  min-height: 500px;
  float: left;
  width: 100%;
}